<header>
  <h1>
    Show
    <small><%= @project.name %></small>
  </h1>
</header>
<body>
  <div id="ticket">
    <header>
      <h1><%= @project.name %></h1>
    </header>
    <header>
      <h2><%= @ticket.name %></h2>
    </header>
    <%= simple_format(@ticket.description) %>
  </div>
</body>
